body {
    background-color: white;
    color: grey;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: darkblue;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 20px;
    
}

a {
    
    text-decoration: none;
}
a:hover,
a:focus {
    color: blue;
}

.body-text {
    background-color: #79acd1;
    padding: 50px;
}

.body-text p {
    color: white;
}

.body-text a {
    color: #f7c0f4;
}

.body-text a:hover {
    color: #DDD;
}

.important-link,
.body-text .important-link{
    color: yellow;
}

