body {
    background-color: #000;
    background-image: url(../img/weather.png);
    color: #2f4C5C;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: darkblue;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}
